/* You can add global styles to this file, and also import other style files
body{
    background-color: #2B3E50;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ebebeb;
} */
